<p>Hello <%= @user[:email] %>!</p>

<p>Someone has requested a link to change your password. You can do this introducing the confirmation code that is showed below.</p>

<p>CODE: <b><%= @user[:reset_password_code] %></b></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
